
<h1>hello</h1>
<button (click)="showSuccess()">show</button>
<h1>check</h1>
<input type="checkbox" [(ngModel)]="click">
<h1 *ngIf="click">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, temporibus. Omnis consectetur voluptatibus maiores aspernatur adipisci debitis nulla a, odit autem rerum molestias reprehenderit molestiae ipsum laudantium facere minima fugiat alias qui dolor rem accusantium incidunt! Placeat at ex perferendis, porro repellat quo corporis sapiente eaque fuga modi asperiores minus vel atque? Ut omnis nulla aliquid nisi, esse assumenda reiciendis, fugit voluptas nobis exercitationem adipisci laudantium voluptatibus suscipit ratione non! Totam odio exercitationem unde neque similique atque inventore nemo suscipit ad earum corporis excepturi temporibus recusandae est ea, error, illo quisquam cumque, nihil iusto vitae. Optio consequatur velit voluptatem et.</h1>